body {
    font-family: 'Lato', sans-serif;
}

#search_btn {
    margin-top: 2em;
}

.logo {
    width: 20%;
}

h5 {
    text-transform: uppercase;
}

h1 {
    font-weight: 900;
    letter-spacing: -5px;
}

.tipo {
    background-color: aqua
}

.modal-content .s12 {
    margin-bottom: 20px;
}

/* .batalla {
    background-color: tomato
}
.forma{
    background-color: violet
}
.experiencia {
    background-color: chartreuse;
}
.movimiento {
    background-color: darkorange;
} */